body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}




.container{
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box{
  width: 700px;
  height: 650px;
  background-color: saddlebrown;
}

.titulo{
  width: 700px;
  text-align: center;
  color: azure;
}

.tabuleiro{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.tab{
  width: 424px;
  height: 424px;
}

.celula{
  width: 53px;
  height: 53px;
  background-color: green;
  border-block-end-color: black;
}

.pecaBranca{
  margin-left: 5px;
  color:white;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  width: 25px;
  height: 25px;
}
.pecaPreta{
  margin-left: 5px;
  color: black;
  background-color: black;
  text-align: center;
  border-radius: 15px;
  width: 25px;
  height: 25px;
}

.info {
  width: 424px;
  height: 30px;
  padding-top: 20px;
  color: white;
  font-size: 30px;
}