<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script type="text/javascript" src="jquery.js"></script>
    <script src="main.js"></script>
</head>
<body id="body">
    <h2 id="titulo" align="center">
        Jogar Reverse
    </h2>
    <br><br><br>
    <div id="tabuleiro" align="center">
    </div>
</body>
</html>