#body {
    background-color: #c99043;
}

#titulo {
    color: white;
}

#tabuleiro {
    margin-left: 33%;
    width: 416px;
    height: 416px;
    border:solid 1px;
}

.linha{ 
    height:50px;
}

.casa{
    width:50px;
    height:100%;    
    float:left;
    cursor: pointer;
}

.casa_branca{
    height: 50px;
    border: 1px solid white;
    background-color: green;
}

.casa_preta{
    height: 50px;
    border: 1px solid white;
    background-color: green;
}

#peca_branca {
    background-color: white; 
}

#peca_preta {
    background-color: black; 
}

.peca {
    background-color: blue;
}